{% extends "/base.html.twig" %}

{% block body %}
    <div class="container" style="padding-top: 2%; padding-bottom: 3%">
        <div class="row">
            <div class="col text-center">
                <div style="font-family: sans-serif; ">
                    <h1>Hello WCS</h1>
                    <h4><a href="{{ path('blog_index') }}">Blog</a></h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}