@import "~bootstrap/scss/bootstrap";

body {
  background-image: url("https://i.pinimg.com/originals/df/bc/1b/dfbc1b54d97039b02d8fd3c282931269.jpg");
  color: deeppink;
}

h1, h2, h3, h4, h5 {
  color: purple;
  font-family: 'Pacifico', cursive;
}

.navbar {
  background-color: deeppink !important;
  font-family: 'Pacifico', cursive;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2%;
}
