{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="padding-top: 2%; padding-bottom: 3%">
        <div class="row">

            {{ form_start(form) }}
            {{ form_row(form.name) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}