{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Create new Article</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ include('article/_form.html.twig') }}

            </div>
        </div>
    </div>

{% endblock %}
